<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD15Rh3q7e0lLmiosGW2g_uWX2lSlpYQWw</string>
	<key>GCM_SENDER_ID</key>
	<string>499894767485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.devhathon</string>
	<key>PROJECT_ID</key>
	<string>devathon-project-9bb21</string>
	<key>STORAGE_BUCKET</key>
	<string>devathon-project-9bb21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499894767485:ios:43c01450f9f9f1e443c614</string>
</dict>
</plist>